.contenido {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.barra-lateral {
    max-width: 15%;
    background-color: white;
    height: 100%;
    overflow-y: auto;
}

.principal {
    flex: 1;
    height: 100%;
    overflow-y: auto;
}