.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.contenido {
    padding-top: 60px;
}


/* Define styles for smaller devices */

@media screen and (max-width: 768px) {
    .navBar {
        position: static;
        width: 100%;
    }
    .contenido {
        padding-top: 0px;
    }
}