.pagina_completa {
    padding-left: 0;
    padding-right: 0;
    background-color: #F7FAFA;
}

.form-area {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.weekdays-checkboxes {
    display: flex;
    gap: 5px;
    /* Adjust the spacing as needed */
    justify-content: center;
}

.weekdays-checkboxes label {
    display: inline-block;
    margin-right: 5px;
    /* Adjust the margin as needed */
}

.invalid-input {
    border: 2px solid red;
    /* Change the border to red for invalid inputs */
}

.linea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    width: 600px;
}

.form-button {
    height: 30px;
    width: 25%;
    align-self: center;
    border: 1px, solid black;
    background-color: #F5C754;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid black;
}

.botones {
    display: flex;
    justify-content: space-evenly;
}

.import {
    border-radius: 20px;
    border: 1px solid black;
    background-color: #F5C754;
}

.addLocks {
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #F5C754;
}

.error {
    color: red;
    font-size: 12px;
}

.dark-mode,
.dark-mode .pagina_completa {
    color: #fff;
    background-color: #121C24;
}