.pagina_completa {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    background-color: #F7FAFA;
    flex-direction: column; /* Asegura que los elementos dentro de .pagina_completa estén en columna */
}

.form-area {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.weekdays-checkboxes {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.weekdays-checkboxes label {
    display: inline-block;
    margin-right: 5px;
}

.invalid-input {
    border: 2px solid red;
}

.linea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    width: 600px;
}

.form-button {
    height: 40px;
    width: 200px;
    align-self: center;
    border: 1px solid black;
    background-color: #F5C754;
    cursor: pointer;
    border-radius: 20px;
}

.botones {
    display: flex;
    justify-content: space-evenly;
}

.import {
    border-radius: 20px;
    border: 1px solid black;
    background-color: #F5C754;
}

.addLocks {
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #F5C754;
}

.th_cuenta_destino {
    width: 20%;
}

.th_ekey {
    width: 15%;
}

.th_tipo {
    width: 15%;
}

.th_inicio {
    width: 10%;
}

.th_expiracion {
    width: 10%;
}

.th_correo {
    width: 20%;
}

.th_eliminar {
    width: 10%;
}

.error {
    color: red;
    font-size: 12px;
}

.dark-mode,
.dark-mode .pagina_completa {
    color: #fff;
    background-color: #121C24;
}

/* Media Query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    .pagina_completa {
        justify-content: flex-start;
        flex-direction: column; /* Asegura que el layout de la página se mantenga como columna */
        padding-left: 10px;
        padding-right: 10px;
    }

    .titulo {
        font-size: 20px;
    }

    .botones {
        justify-content: center;
        font-size: 10px;
    }

    .form-button {
        width: 150px;
    }

    .content-container {
        overflow-x: auto; /* Permite el desplazamiento horizontal */
        width: 100%; /* Ajusta el contenedor al ancho de la página */
    }

    .ekey-table {
        width: 100%; /* Asegura que la tabla ocupe el ancho completo */
        table-layout: fixed; /* Esto ayuda a que la tabla se ajuste mejor al contenedor */
    }

    .ekey-table th,
    .ekey-table td {
        width: 50vw; /* Mantiene un ancho grande en pantallas pequeñas */
    }
}
