.navbar {
    padding: 0;
    background-color: black;
}

.container-fluid {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

#dropdownMenuButton {
    background-color: #F5C754;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.dark-mode-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.dark-mode-toggle span {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .container-fluid {
        margin-left: 0px;
        margin-right: 0px;
    }
    .logo {
        height: 60px;
        width: 120px;
    }
    #dropdownMenuButton {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
    }
}