.feeds {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.player {
  width: 600px;
  height: 300px;
  background-color: black;
}

.controls {
  margin-top: 10px;
}

.talk-controls {
  margin-top: 10px;
}
