<div class="feeds">
    <div>
        <div id="cameraPlay" class="player"></div>
        <div class="controls">
            <h4>Camera</h4>
            <button (click)="startCameraFeed()">Start Camera</button>
            <button (click)="stopCameraFeed()">Stop Camera</button>
        </div>
    </div>
    <div>
        <div id="intercomPlay" class="player"></div>
        <div class="controls">
            <h4>Intercom</h4>
            <button (click)="startIntercomFeed()">Start Intercom</button>
            <button (click)="stopIntercomFeed()">Stop Intercom</button>
            <div class="talk-controls">
                <button (click)="startTalk()">Start Talk</button>
                <button (click)="stopTalk()">Stop Talk</button>
            </div>
        </div>
    </div>
</div>