.navbar {
    padding: 0;
    background-color: black;
}

.container-fluid {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: none;
    /* Hide the logo by default */
}

#dropdownMenuButton {
    background-color: #f9c114;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
}

.dark-mode-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.dark-mode-toggle span {
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .logo {
        display: block;
        /* Show the logo for larger screens (e.g., tablets and desktops) */
    }
}