<header class="topbar">
    <div class="search">
        <mat-icon>search</mat-icon>
        <input placeholder="Buscar residente, unidad, dispositivo, evento..." />
    </div>
    <div class="actions">
        <button class="condo-selector" mat-stroked-button [matMenuTriggerFor]="condoMenu">
            <mat-icon>apartment</mat-icon>
            <span>
                {{ selectedCondominium?.name || 'Seleccionar condominio' }}
            </span>
            <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #condoMenu="matMenu">
            <button mat-menu-item *ngFor="let condo of condominiums" (click)="selectCondominium(condo)">
                <mat-icon *ngIf="selectedCondominium?.condominium_id === condo.condominium_id">
                    check
                </mat-icon>
                <span>{{ condo.name }}</span>
            </button>
        </mat-menu>
        <button class="user-menu" mat-button [matMenuTriggerFor]="userMenu">
            <div class="avatar">
                {{ userInitials }}
            </div>
            <div class="user-info">
                <div class="user-name">
                    {{ username }}
                </div>
                <div class="user-role">
                    {{ role }}
                </div>
            </div>
        </button>
        <mat-menu #userMenu="matMenu" class="user-dropdown">
            <div class="menu-header">
                <div class="avatar large">
                    {{ userInitials }}
                </div>
                <div>
                    <div class="menu-name">
                        {{ username }}
                    </div>
                    <div class="menu-role">
                        {{ role }}
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <button mat-menu-item>
                <mat-icon>lock</mat-icon>
                <span>Cambiar contraseña</span>
            </button>
            <button mat-menu-item>
                <mat-icon>mail</mat-icon>
                <span>Cambiar correo</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item class="logout-item" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </div>
</header>