:host {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 500px;
    box-shadow: 5px 5px 4px rgba(19, 19, 19, 0.2);
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 1003;
}

.header {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}


.linea_alternative {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.lock-table {
    width: 100%;
    border-collapse: collapse;
}

.lock-table th,
.lock-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.lock-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

#content {
    flex-grow: 1;
    padding: 10px;
    font-size: 18px;
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content img {
    max-width: 100%;
    height: auto;
    transform: scale(1.3);
}

#actions {
    display: flex;
    justify-content: space-around;
    height: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

button {
    padding: 10px 40px;
    background-color: #F5C754;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
}

.form-area {
    text-align: center;
}

.common-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.form-input {
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding-left: 15px;
    border-radius: 20px;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.error {
    font-size: smaller;
    color: red;
    text-align: center;
}

.confirmation-message {
    font-size: 14px;
    /* Adjust the font size as needed */
    text-align: center;
    margin-top: 10px;
    /* Add some top margin for spacing */
    color: #4CAF50;
    /* Green color or adjust to your preferred color */
}

.mat-datepicker-content {
    position: relative;
    /* Ensure z-index works */
    z-index: 10000;
    /* Set a higher z-index value than the popup window */
}

.person-inputs input {
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 10px;
    /* Adjust spacing between inputs */
    flex-grow: 1;
    /* Take remaining space in the row */
}

.person-container:nth-child(1) input {
    margin-top: 5px;
    /* Add margin to the first input to prevent overlap with header */
}

.dark-mode,
.dark-mode .container,
.dark-mode .header {
    color: #fff;
    background-color: #121C24;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 10px;
    }
    .header {
        font-size: 16px;
    }
    #content {
        font-size: 14px;
    }
}