.pagina_completa {
    position: relative;
    display: block;
}

.titulo {
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.button-container button {
    background-color: #ffdd78;
    border-radius: 10px;
    border: solid 1px black;
}

.info_comunidad {
    display: flex;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
}

.nombre_comunidad {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 0;
}

.nombre_comunidad span {
    font-size: x-large;
}

.derecha {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.valid_lock {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
}

.valid_lock:hover {
    cursor: pointer;
}

.invalid_lock {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
}

.invalid_lock:hover {
    cursor: pointer;
}

.title-wrapper {
    font-size: smaller;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.lock-title {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 50px);
}

.bateria_cerradura {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.numero_bateria {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .info_comunidad {
        display: flex;
        flex-wrap: wrap;
    }
    .nombre_comunidad {
        flex: 1 1 100%;
        /* Take full width */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
        /* Adjust as needed */
    }
    .derecha {
        flex: 1 1 100%;
        /* Take full width */
        display: flex;
        justify-content: space-between;
    }
}