<div class="pagina_completa">
    <app-loader [loader]="isLoading"></app-loader>
    <div class="titulo">
        <div style="font-size: 18px; font-weight:bold; margin-left: 30px">
            Mis comunidades
        </div>
        <div class="button-container">
            <button (click)="crearGrupo()">Crear Comunidad</button>
        </div>
    </div>
    <div *ngIf="groups.length > 0">
        <div *ngFor="let group of groups">
            <div class="comunidad">
                <div class="info_comunidad">
                    <div class="nombre_comunidad" (click)="toggleGroupVisibility(group)">
                        <span>{{ group.groupName }}</span>
                    </div>
                    <div class="derecha">
                        <button [matMenuTriggerFor]="editarMenu" aria-label="Settings" mat-button class="mat-primary" (click)="$event.stopPropagation()">Editar</button>
                        <mat-menu #editarMenu="matMenu">
                            <button mat-menu-item (click)="cambiarNombre(group.groupId)"><span>Editar Nombre</span></button>
                            <button mat-menu-item style="color: red;" (click)="eliminar(group.groupId)"><span>Eliminar
                  Comunidad</span></button>
                        </mat-menu>
                        <button [matMenuTriggerFor]="adminMenu" aria-label="Settings" mat-button class="mat-primary">Administrar
              Dispositivos</button>
                        <mat-menu #adminMenu="matMenu">
                            <button mat-menu-item (click)="agregar(group)"><span>Agregar Dispositivo</span></button>
                            <button mat-menu-item (click)="remover(group)"><span>Remover Dispositivo</span></button>
                        </mat-menu>
                        <fa-icon [icon]="isGroupVisible(group) ? faAngleUp : faAngleDown" (click)="toggleGroupVisibility(group)" style="padding-left: 15px;"></fa-icon>
                    </div>
                </div>
                <div class="listado_cerraduras" *ngIf="isGroupVisible(group)">
                    <div *ngIf="group.lockCount > 0">
                        <mat-grid-list [cols]="cols" rowHeight="150px">
                            <mat-grid-tile *ngFor="let lock of group.locks">
                                <div *ngIf="hasValidAccess(lock)===true">
                                    <mat-card class="valid_lock" (click)="onLockButtonClick(lock)">
                                        <mat-card-header style="padding: 0px;">
                                            <div class="title-wrapper">
                                                <mat-card-title class="lock-title"> {{ lock.lockAlias }} </mat-card-title>
                                                <div class="bateria_cerradura">
                                                    <div>
                                                        <!--BATERIA 4/4-->
                                                        <div *ngIf="lock.electricQuantity > 90 || lock.electricQuantity == 90" [ngStyle]="{color: 'green'}">
                                                            <fa-icon [icon]="faBatteryFull"></fa-icon>
                                                        </div>
                                                        <!--BATERIA 3/4-->
                                                        <div *ngIf="lock.electricQuantity < 90 && lock.electricQuantity > 60 || lock.electricQuantity == 60" [ngStyle]="{color: 'green'}">
                                                            <fa-icon [icon]="faBatteryThreeQuarters"></fa-icon>
                                                        </div>
                                                        <!--BATERIA 2/4-->
                                                        <div *ngIf="lock.electricQuantity < 60 && lock.electricQuantity > 40 || lock.electricQuantity == 40" [ngStyle]="{color: 'green'}">
                                                            <fa-icon [icon]="faBatteryHalf"></fa-icon>
                                                        </div>
                                                        <!--BATERIA 1/4-->
                                                        <div *ngIf="lock.electricQuantity < 40 && lock.electricQuantity > 0" [ngStyle]="{color: 'red'}">
                                                            <fa-icon [icon]="faBatteryQuarter"></fa-icon>
                                                        </div>
                                                        <!--BATERIA '0/4'-->
                                                        <div *ngIf="lock.electricQuantity == 0" [ngStyle]="{color: 'red'}">
                                                            <fa-icon [icon]="faBatteryEmpty"></fa-icon>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="numero_bateria"> {{alone.electricQuantity}}% </div> -->
                                                    <div>
                                                        <fa-icon [style.color]="lock.hasGateway ? 'green' : 'red'" [icon]="faWifi"></fa-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-card-header>
                                    </mat-card>
                                </div>
                                <div *ngIf="hasValidAccess(lock)===false">
                                    <mat-card class="invalid_lock" (click)="onInvalidButtonClick()">
                                        <mat-card-header style="padding: 0px;">
                                            <div class="title-wrapper">
                                                <mat-card-title class="lock-title"> {{ lock.lockAlias }} </mat-card-title>
                                                <div class="bateria_cerradura">
                                                    <div>
                                                        <!--BATERIA 4/4-->
                                                        <div *ngIf="lock.electricQuantity > 90 || lock.electricQuantity == 90" [ngStyle]="{color: 'green'}">
                                                            <fa-icon [icon]="faBatteryFull"></fa-icon>
                                                        </div>
                                                        <!--BATERIA 3/4-->
                                                        <div *ngIf="lock.electricQuantity < 90 && lock.electricQuantity > 60 || lock.electricQuantity == 60" [ngStyle]="{color: 'green'}">
                                                            <fa-icon [icon]="faBatteryThreeQuarters"></fa-icon>
                                                        </div>
                                                        <!--BATERIA 2/4-->
                                                        <div *ngIf="lock.electricQuantity < 60 && lock.electricQuantity > 40 || lock.electricQuantity == 40" [ngStyle]="{color: 'green'}">
                                                            <fa-icon [icon]="faBatteryHalf"></fa-icon>
                                                        </div>
                                                        <!--BATERIA 1/4-->
                                                        <div *ngIf="lock.electricQuantity < 40 && lock.electricQuantity > 0" [ngStyle]="{color: 'red'}">
                                                            <fa-icon [icon]="faBatteryQuarter"></fa-icon>
                                                        </div>
                                                        <!--BATERIA '0/4'-->
                                                        <div *ngIf="lock.electricQuantity == 0" [ngStyle]="{color: 'red'}">
                                                            <fa-icon [icon]="faBatteryEmpty"></fa-icon>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="numero_bateria"> {{alone.electricQuantity}}% </div> -->
                                                    <div>
                                                        <fa-icon [style.color]="lock.hasGateway ? 'green' : 'red'" [icon]="faWifi"></fa-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-card-header>
                                    </mat-card>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="locksWithoutGroup.length > 0">
        <div class="info_comunidad">
            <div class="nombre_comunidad">
                <span>Sin Asociar</span>
            </div>
        </div>
        <div class="listado_cerraduras">
            <mat-grid-list [cols]="cols" rowHeight="150px">
                <mat-grid-tile *ngFor="let alone of locksWithoutGroup">
                    <div *ngIf="hasValidAccess(alone)===true">
                        <mat-card class="valid_lock" (click)="onLockButtonClick(alone)">
                            <mat-card-header style="padding: 0px;">
                                <div class="title-wrapper">
                                    <mat-card-title class="lock-title"> {{ alone.lockAlias }} </mat-card-title>
                                    <div class="bateria_cerradura">
                                        <div>
                                            <div *ngIf="alone.electricQuantity > 90 || alone.electricQuantity == 90" [ngStyle]="{color: 'green'}">
                                                <fa-icon [icon]="faBatteryFull"></fa-icon>
                                            </div>
                                            <div *ngIf="alone.electricQuantity < 90 && alone.electricQuantity > 60 || alone.electricQuantity == 60" [ngStyle]="{color: 'green'}">
                                                <fa-icon [icon]="faBatteryThreeQuarters"></fa-icon>
                                            </div>
                                            <div *ngIf="alone.electricQuantity < 60 && alone.electricQuantity > 40 || alone.electricQuantity == 40" [ngStyle]="{color: 'green'}">
                                                <fa-icon [icon]="faBatteryHalf"></fa-icon>
                                            </div>
                                            <div *ngIf="alone.electricQuantity < 40 && alone.electricQuantity > 0" [ngStyle]="{color: 'red'}">
                                                <fa-icon [icon]="faBatteryQuarter"></fa-icon>
                                            </div>
                                            <div *ngIf="alone.electricQuantity == 0" [ngStyle]="{color: 'red'}">
                                                <fa-icon [icon]="faBatteryEmpty"></fa-icon>
                                            </div>
                                        </div>
                                        <!-- <div class="numero_bateria"> {{alone.electricQuantity}}% </div> -->
                                        <div>
                                            <fa-icon [style.color]="alone.hasGateway ? 'green' : 'red'" [icon]="faWifi"></fa-icon>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-header>
                        </mat-card>
                    </div>
                    <div *ngIf="hasValidAccess(alone)===false">
                        <mat-card class="invalid_lock" (click)="onInvalidButtonClick()">
                            <mat-card-header style="padding: 0px;">
                                <div class="title-wrapper">
                                    <mat-card-title class="lock-title"> {{ alone.lockAlias }} </mat-card-title>
                                    <div class="bateria_cerradura">
                                        <div>
                                            <div *ngIf="alone.electricQuantity > 90 || alone.electricQuantity == 90" [ngStyle]="{color: 'green'}">
                                                <fa-icon [icon]="faBatteryFull"></fa-icon>
                                            </div>
                                            <div *ngIf="alone.electricQuantity < 90 && alone.electricQuantity > 60 || alone.electricQuantity == 60" [ngStyle]="{color: 'green'}">
                                                <fa-icon [icon]="faBatteryThreeQuarters"></fa-icon>
                                            </div>
                                            <div *ngIf="alone.electricQuantity < 60 && alone.electricQuantity > 40 || alone.electricQuantity == 40" [ngStyle]="{color: 'green'}">
                                                <fa-icon [icon]="faBatteryHalf"></fa-icon>
                                            </div>
                                            <div *ngIf="alone.electricQuantity < 40 && alone.electricQuantity > 0" [ngStyle]="{color: 'red'}">
                                                <fa-icon [icon]="faBatteryQuarter"></fa-icon>
                                            </div>
                                            <div *ngIf="alone.electricQuantity == 0" [ngStyle]="{color: 'red'}">
                                                <fa-icon [icon]="faBatteryEmpty"></fa-icon>
                                            </div>
                                        </div>
                                        <!-- <div class="numero_bateria"> {{alone.electricQuantity}}% </div> -->
                                        <div>
                                            <fa-icon [style.color]="alone.hasGateway ? 'green' : 'red'" [icon]="faWifi"></fa-icon>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-header>
                        </mat-card>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>
<app-pop-up *ngIf="this.popupService.delete || this.popupService.cambiarNombre || this.popupService.addLockGROUP ||
                    this.popupService.removeLockGROUP || this.popupService.newGroup || this.popupService.invalidLock" style="z-index: 1001;"></app-pop-up>