.pagina_completa {
    text-align: center;
    background: url('../../../assets/images/background_login/back2.webp') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: calc( 100vh - 80px);
    padding-top: 1px;
}

.cuadro {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    padding: 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.login_texto {
    display: flex;
    font-weight: bold;
    align-items: center;
    padding-left: 5px;
    font-size: 20px;
}

.login_input {
    height: 35px;
    width: 340px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 5px;
}

.password-input {
    position: relative;
}

.password-input button {
    position: absolute;
    top: 33%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.login_boton {
    height: 45px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 15px;
    font-size: 28px;
    border-radius: 5px;
    background-color: #f9c114;
}

.login_error {
    color: red;
}