.pagina_completa {
    text-align: center;
    background: url('../../../assets/images/background_login/back2.webp') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    padding-top: 1px;
}

.cuadro {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 30px;
    margin-top: 80px;
    background-color: rgba(5, 5, 5, 0.8);
    border-radius: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 200px;
    height: auto;
}

.login_texto {
    display: flex;
    font-weight: bold;
    align-items: center;
    padding-left: 5px;
    font-size: 14px;
    color: white;
}

.login_texto fa-icon {
    padding-right: 10px;
}

.login_input {
    height: 35px;
    width: 240px;
    margin-bottom: 10px;
    border: 1px solid white;
    padding-left: 15px;
    font-size: 12px;
    border-radius: 5px;
}

.password-input {
    position: relative;
}

.password-input button {
    position: absolute;
    top: 37%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.login_boton {
    height: 45px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #f9c114;
}

.login_error {
    color: rgb(255, 0, 0);
    font-size: 14px;
}