<!-- login.component.html -->
<div class="pagina_completa">
    <form #userSignIn="ngForm" (ngSubmit)="login(userSignIn.value)" class="cuadro">
        <div class="login_texto">
            Email / Celular
        </div>
        <div>
            <input type="text" class="login_input" name="username" required="required" ngModel />
        </div>
        <div class="login_texto">
            Contraseña
        </div>
        <div>
            <input type="password" class="login_input" name="password" required="required" ngModel />
        </div>
        <p class="login_error">{{loginError}}</p>
        <button class="login_boton" type="submit">Log In</button>
    </form>
</div>