<app-loader [loader]="isLoading"></app-loader>
<div class="container" *ngIf="popupService.delete" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        ¿Está seguro que desea eliminar {{popupService.elementType}}?
    </div>
    <div id="content">
        <p class="error">{{error}}</p>
    </div>
    <div id="actions">
        <button (click)="popupService.delete = false">No</button>
        <button (click)="delete()">Si</button>
    </div>
</div>
<div class="container" *ngIf="popupService.autorizar" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        ¿Está seguro que desea autorizar a {{popupService.elementType}}?
    </div>
    <div id="content">
    </div>
    <div id="actions">
        <button (click)="popupService.autorizar = false">No</button>
        <button (click)="autorizar()">Si</button>
    </div>
</div>
<div class="container" *ngIf="popupService.desautorizar" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        ¿Está seguro que desea desautorizar a {{popupService.elementType}}?
    </div>
    <div id="content">
    </div>
    <div id="actions">
        <button (click)="popupService.desautorizar = false">No</button>
        <button (click)="desautorizar()">Si</button>
    </div>
</div>
<div class="container" *ngIf="popupService.changeRemoteEnable" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        Por favor confirme sus acciones
    </div>
    <div id="content">
        <div class="linea_alternative" style="gap:10px;margin-bottom:0px">
            <span class="input-container">
                Apertura Remota
            </span>
            <span class="input-container">
                <mat-slide-toggle [(ngModel)]="remoteEnableToggle"
                    (change)="remoteEnableToggleChange($event)"></mat-slide-toggle>
            </span>
        </div>
    </div>
    <div id="actions">
        <button (click)="popupService.changeRemoteEnable = false">Cancelar</button>
        <button (click)="cambiarRemoteUnlock()">Confirmar</button>
    </div>
</div>
<div class="container" *ngIf="popupService.congelar" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        ¿Está seguro que desea congelar a {{popupService.elementType}}?
    </div>
    <div id="content">
    </div>
    <div id="actions">
        <button (click)="popupService.congelar = false">No</button>
        <button (click)="congelar()">Si</button>
    </div>
</div>
<div class="container" *ngIf="popupService.descongelar" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        ¿Está seguro que desea descongelar a {{popupService.elementType}}?
    </div>
    <div id="content">
    </div>
    <div id="actions">
        <button (click)="popupService.descongelar = false">No</button>
        <button (click)="descongelar()">Si</button>
    </div>
</div>
<div class="container" *ngIf="popupService.cambiarNombre" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        Introduzca el nuevo nombre
    </div>
    <div id="content">
        <div class="form-area">
            <form class="common-form">
                Nombre
                <input type="text" class="form-input" name="name" [(ngModel)]="name" style="margin-bottom:0px" />
                <p class="error">{{error}}</p>
            </form>
        </div>
    </div>
    <div id="actions">
        <button (click)="popupService.cambiarNombre = false">Volver</button>
        <button (click)="cambiarNombre()">Guardar</button>
    </div>
</div>
<div class="container" *ngIf="popupService.cambiarPeriodo" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        Introduzca la nueva fecha
    </div>
    <div id="content">
        <div class="form-area">
            <form #editPeriod="ngForm" (ngSubmit)="cambiarPeriodo(editPeriod.value)" class="common-form">
                <div class="linea">
                    Periodo de inicio
                    <span class="input-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="startDatePicker" name="startDate" required="required"
                                ngModel (dateChange)="startTimePicker.open()">
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Hora</mat-label>
                            <input matInput [ngxTimepicker]="startTimePicker" name="startHour" required="required"
                                [format]="24" ngModel>
                        </mat-form-field>
                        <ngx-material-timepicker #startTimePicker [hoursOnly]="true"></ngx-material-timepicker>
                    </span>
                </div>
                <div class="linea">
                    Periodo de finalización
                    <span class="input-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="endDatePicker" name="endDate" required="required" ngModel
                                (dateChange)="endTimePicker.open()">
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Hora</mat-label>
                            <input matInput [ngxTimepicker]="endTimePicker" name="endHour" required="required"
                                [format]="24" ngModel>
                        </mat-form-field>
                        <ngx-material-timepicker #endTimePicker [hoursOnly]="true"></ngx-material-timepicker>
                    </span>
                </div>
                <p class="error">{{error}}</p>
                <div id="actions">
                    <button (click)="popupService.cambiarPeriodo = false">Volver</button>
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container" *ngIf="popupService.editarPasscode" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        Introduzca la nueva secuencia de números
    </div>
    <div id="content">
        <div class="form-area">
            <form class="common-form">
                <div class="linea">
                    Nuevo código
                    <span class="input-container">
                        <input type="password" class="form-input" name="passcodePwd" [(ngModel)]="passcodePwd" />
                    </span>
                </div>
                <!--
                <div *ngIf="popupService.passcode.keyboardPwdType !== 1 && popupService.passcode.keyboardPwdType !== 2 && popupService.passcode.keyboardPwdType !== 3 && popupService.passcode.keyboardPwdType !== 4" class="linea">
                    Hora de finalización
                    <span class="input-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Hora</mat-label>
                            <input matInput [ngxTimepicker]="endTimePicker" name="endHour" [format]="24" [(ngModel)]="endHour">
                        </mat-form-field>
                        <ngx-material-timepicker #endTimePicker [hoursOnly]="true"></ngx-material-timepicker>
                    </span>
                </div>
                -->
                <p class="error">{{error}}</p>
            </form>
        </div>
    </div>
    <div id="actions">
        <button (click)="popupService.editarPasscode= false">Volver</button>
        <button (click)="editarPasscode()">Guardar</button>
    </div>
</div>
<div class="container" *ngIf="popupService.ekeySuccess" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        La eKey ha sido creada correctamente
    </div>
    <div id="actions">
        <button (click)="closeWindow()">Ok</button>
    </div>
</div>
<div class="container" *ngIf="popupService.ekeySuccess2" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        Las eKeys se han creado correctamente
    </div>
    <div id="actions">
        <button (click)="closeWindow()">Ok</button>
    </div>
</div>
<div class="container" *ngIf="popupService.passcodeSuccess" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        El código ha sido creado correctamente
    </div>
    <div id="actions">
        <button (click)="closeWindow()">Ok</button>
    </div>
</div>
<div class="container" *ngIf="popupService.cardSuccess" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        La tarjeta ha sido creada correctamente
    </div>
    <div id="actions">
        <button (click)="closeWindow()">Ok</button>
    </div>
</div>
<div class="container" *ngIf="popupService.invitation" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        Crear Invitación
    </div>
    <div id="content">
        <div class="form-area">
            <form class="common-form">
                <p>
                    Nombre de la Invitación
                    <input style="border-radius:20px;border:1px solid black" type="text" class="form-input" name="name"
                        [(ngModel)]="name" />
                </p>
                <p>
                    Contraseña del Código
                    <input style="border-radius:20px;border:1px solid black" type="text" class="form-input"
                        name="passcodePwd" [(ngModel)]="passcodePwd" placeholder="4-9 digits" />
                </p>
                <p>
                    <button class="addLocks" (click)="openLockSelector()">Cerraduras</button>
                </p>
                <p>
                    Correo de Notificación
                    <input style="border-radius:20px;border:1px solid black" type="text" class="form-input" name="email"
                        [(ngModel)]="email" />
                </p>
                <p class="error">{{error}}</p>
            </form>
        </div>
    </div>
    <div id="actions">
        <button (click)="popupService.invitation = false">Volver</button>
        <button (click)="createInvitation()">Continuar</button>
    </div>
</div>
<div class="container" *ngIf="popupService.selectLocksForPasscode" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        Seleccione Cerradura
    </div>
    <div id="content">
        <div class="form-area">
            <div *ngFor="let lock of passcodeService.availableLocks">
                <label>
                    <input type="checkbox" [value]="lock.id" (change)="passcodeService.toggleLock(lock)"
                        [checked]="passcodeService.isLockSelected(lock.id)">
                    {{ lock.alias }}
                </label>
            </div>
        </div>
    </div>
    <div id="actions">
        <button (click)="selectLocks()">OK</button>
    </div>
</div>
<div class="container_sin_width" *ngIf="popupService.emailSentInvitation"
    [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        Se envió el siguiente correo
    </div>
    <div id="content" style="background-color: rgb(245, 245, 245);">
        <!--<textarea [(ngModel)]="emailMessage" rows="10" cols="50"></textarea>-->
        <div [innerHTML]="emailMessage"></div>
    </div>
    <div id="actions">
        <button (click)="copyToClipboard()">Copiar mensaje</button>
        <button (click)="closeSentInvitation()">Ok</button>
    </div>
    <div *ngIf="isCopied" class="confirmation-message">
        El mensaje fue copiado.
    </div>
</div>
<div class="container" *ngIf="popupService.selectLocksForMultiplePasscodes"
    [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        Seleccione las cerraduras
    </div>
    <div id="content" style="justify-content: flex-start; ">
        <table class="lock-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Seleccionado</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="popupService.locksOfGroup.length > 0; else noLocks">
                    <tr *ngFor="let lock of popupService.locksOfGroup">
                        <td>{{ lock.lockAlias }}</td>
                        <td style="text-align: center">
                            <input type="checkbox" [checked]="isLockSelected(lock.lockId)"
                                (change)="toggleLockSelection(lock.lockId, lock.lockAlias)">
                        </td>
                    </tr>
                </ng-container>
                <ng-template #noLocks>
                    <tr>
                        <td colspan="2">No existen cerraduras disponibles para agregar a este grupo.</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
    <p class="error">{{error}}</p>
    <div id="actions">
        <button (click)="popupService.selectLocksForMultiplePasscodes = false">Volver</button>
        <button
            (click)="this.popupService.selectLocksForMultiplePasscodes = false; confirmLockSelection()">Confirmar</button>
    </div>
</div>
<div class="container_sin_width" *ngIf="popupService.multiplePasscodesResult"
    [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        Resultados de creación de Passcodes
    </div>
    <div id="content">
        <div class="table-wrapper">
            <div *ngFor="let lock of popupService.multiplePasscodeResults" style="width: 90%;">
                <h5>{{lock.lockAlias}}</h5>
                <table class="results-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Código</th>
                            <th>Tipo</th>
                            <th>Error</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let passcode of lock.passcodes"
                            [ngClass]="{'success': passcode.result === 'success', 'failed': passcode.result === 'failed'}">
                            <td>{{passcode.passcodeName}}</td>
                            <td>{{passcode.code || '-'}}</td>
                            <td>{{passcode.tipo === 2 ? 'C' : 'P'}}</td>
                            <td>{{passcode.result === 'failed' ? passcode.errmsg : '-'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="actions">
        <button (click)="closeMultiplePasscodes()">Ok</button>
    </div>
</div>
<div class="container_sin_width" *ngIf="popupService.multipleCardsResult"
    [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <div class="header">
        Resultados de creación de Cards
    </div>
    <div id="content">
        <div class="table-wrapper">
            <div style="width: 90%;">
                <table class="results-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Numero</th>
                            <th>Tipo</th>
                            <th>Error</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let card of popupService.multipleCardResults"
                            [ngClass]="{'success': card.result === 'success', 'failed': card.result === 'failed'}">
                            <td>{{card.cardName}}</td>
                            <td>{{card.number || '-'}}</td>
                            <td>{{card.tipo === 1 ? 'Permanente' : 'P'}}</td>
                            <td>{{card.result === 'failed' ? card.errmsg : '-'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="actions">
        <button (click)="closeMultipleCards()">Ok</button>
    </div>
</div>