<!-- login.component.html -->
<div class="pagina_completa" [ngClass]="{'dark-mode': DarkModeService.darkMode}">
    <form #userSignIn="ngForm" (ngSubmit)="login(userSignIn.value)" class="cuadro">
        <div class="logo-container">
            <img src="../../../assets/images/room.jpg" alt="Vöhk Logo" class="logo">
        </div>
        <div class="login_texto">
            Email / Celular
        </div>
        <div>
            <input type="text" class="login_input" name="username" required="required" placeholder="Introduce tu email o número de celular" ngModel/>
        </div>
        <div class="login_texto">
            Contraseña
        </div>
        <div class="password-input">
            <input type="{{ showPassword ? 'text' : 'password' }}" class="login_input" name="password" required="required" placeholder="Introduce tu contraseña" ngModel/>
            <button type="button" (click)="togglePasswordVisibility()">
                <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
            </button>
        </div>
        <p class="login_error">{{loginError}}</p>
        <button class="login_boton" type="submit">Iniciar Sesión</button>
    </form>
</div>