.pagina_completa {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    height: 100vh;
}

.top-right-buttons {
    position: absolute;
    top: 40px;
    right: 100px;
}

.letter-button {
    background: transparent;
    border: none;
    color: #ffffff;
    /* Adjust text color */
    font-size: 16px;
    /* Adjust font size */
    cursor: pointer;
    padding: 5px 10px;
    /* Adjust padding */
    margin-left: 5px;
    /* Adjust spacing between buttons */
}

.background-image {
    background-image: url('../../../assets/images/background_login/fondo-login.jpeg');
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    align-items: center;
    /* Centra verticalmente el contenido */
    justify-content: flex-start;
    /* Centra horizontalmente el contenido a la derecha */
    padding-left: 96px;
    margin: 3px 0px 3px 2px
}

.login-container {
    background-color: #f7f7f7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 360px;
    /* Agrega espacio interno al contenedor */
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.bienvenido {
    font-weight: bold;
    font-size: xx-large;
}

.subtitle {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.login_texto {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    margin-left: 20px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.login_input {
    height: 35px;
    width: 250px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid black;
    text-indent: 10px;
}

.password-input {
    position: relative;
    display: flex;
    justify-content: center;
}

.password-input button {
    margin-left: 200px;
    margin-top: 5px;
    position: absolute;
    /*top: 37%;
    right: 90px;
    transform: translateY(-50%);*/
    background: none;
    border: none;
    cursor: pointer;
}

.login_boton {
    height: 35px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #F5C754;
    width: 150px;
}

.login_error {
    color: rgb(255, 0, 0);
    font-size: 14px;
    text-align: center;
    white-space: pre-line;
}

.texto_vohk {
    color: black;
    display: flex;
    justify-content: center
}

@media only screen and (max-width: 600px) {
    .background-image {
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }
    ;
}