<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Hola! {{from}} te ha dado acceso a las cerraduras:</p>

    <p>{{lock_alias}}</p>

    <p>Si no tienes la aplicación Vöhk, descárgala en el siguiente link <a href="https://www.vohk.cl/app-vohk/">https://www.vohk.cl/app-vohk/</a></p>

    <p>Ingresa con tu cuenta: {{to}}</p>

    <p>Período de Validez:</p>
    <p>Permanente</p>

    <p>Pulsa el botón del candado para abrir!</p>
    <p>Visita nuestra página web en <a href="https://www.vohk.cl/">https://www.vohk.cl/</a></p>
</body>
</html>