<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>{{from}} te ha enviado una eKey para la cerradura "{{lock_alias}}".</p>

    <p>Si no tienes la aplicación Vöhk, descárgala aquí:</p>
    <ul>
        <li>Para Android: <a href="https://play.google.com/store/apps/details?id=com.vohk.smart">Descarga en Google Play</a></li>
        <li>Para iOS: <a href="https://apps.apple.com/cl/app/v%C3%B6hk/id1662790955">Descarga en la App Store</a></li>
    </ul>

    <p>Tipo de Acceso: De un uso</p> 
    <p>Cuando uses esta eKey, se borrará automáticamente.</p>

    <p>¡Disfrútala!</p>
</body>
</html>