<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Hola! {{from}} te ha dado acceso a la cerradura {{lock_alias}}.</p>

    <p>(1) Para abrir, descarga la App Vöhk en <a href="https://www.vohk.cl/app-vohk/">https://www.vohk.cl/app-vohk/</a></p>
    
    <p>(2) Inicia sesión con estas credenciales:</p>

    <p>
    Usuario: {{to}}<br>
    Contraseña: {{password}}
    </p>

    <p>Período de Validez:</p>
    <p>Permanente</p>

    <p>Pulsa el botón del candado para abrir!</p>
</body>