<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Hola {{name}}, te han compartido una invitación con el motivo '{{motivo}}'</p>

    <p>El código es {{code}} y puedes usarlo en la cerradura {{lock_alias}}</p>

    <p>Período de Validez:</p>
    <p>Desde {{start}}</p>
    <p>Hasta {{end}}</p>

    <p>Introduce el código y luego presiona el símbolo # para abrir!</p>
</body>
</html>