<app-loader [loader]="isLoading"></app-loader>
<div class="contenido">
    <div class="button-container">
        <input type="text" [(ngModel)]="searchText" placeholder="Buscar Códigos..." (input)="searchPasscodes()">
        <div>
            <button (click)="crearPasscode()" disabled>Generar</button>
            <button (click)="refresh()">Actualizar</button>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="table">
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Nombre
            </th>
            <td mat-cell *matCellDef="let passcode">
                {{ passcode.keyboardPwdName }}
            </td>
        </ng-container>
        <ng-container matColumnDef="Contrasena">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Contraseña
            </th>
            <td mat-cell *matCellDef="let passcode">
                {{ passcode.keyboardPwd }}
            </td>
        </ng-container>
        <ng-container matColumnDef="Responsable">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Creador
            </th>
            <td mat-cell *matCellDef="let passcode">
                {{ passcode.senderUsername }}
            </td>
        </ng-container>
        <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha
            </th>
            <td mat-cell *matCellDef="let passcode">
                {{passcode.displayDate }}
            </td>
        </ng-container>
        <ng-container matColumnDef="Periodo_validez">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Período de validez
            </th>
            <td mat-cell *matCellDef="let passcode">
                {{ passcode.displayPeriod }}
            </td>
        </ng-container>
        <ng-container matColumnDef="Valido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Estado
            </th>
            <td mat-cell *matCellDef="let passcode">
                <span [style.color]="passcode.displayStatus.color">
                    {{ passcode.displayStatus.text }}
                </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="Botones">
            <th mat-header-cell *matHeaderCellDef>
                Operación
            </th>
            <td mat-cell *matCellDef="let passcode">
                <button class="custom-button" [matMenuTriggerFor]="editMenu">
                    Editar
                </button>
                <mat-menu #editMenu="matMenu">
                    <button mat-menu-item (click)="cambiarNombrePasscode(passcode)">
                        Editar Nombre
                    </button>
                    <button mat-menu-item *ngIf="passcode.keyboardPwdType === 1
                            || passcode.keyboardPwdType === 2
                            || passcode.keyboardPwdType === 3
                            || passcode.keyboardPwdType === 4" (click)="cambiarPeriodoPasscode(passcode)">
                        Editar Período
                    </button>
                    <button mat-menu-item (click)="cambiarPasscode(passcode)">
                        Editar Secuencia
                    </button>

                </mat-menu>
                <button class="custom-button-eliminar" (click)="borrarPasscode(passcode.keyboardPwdId)">
                    Eliminar
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns">
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns">
        </tr>
    </table>
    <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]" showFirstLastButtons>
    </mat-paginator>
</div>