.pagina_completa {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
    min-height: calc(100vh - 60.69px);
    background-color: #F7FAFA;
}

.sidebar-grupos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.searchBar {
    padding-top: 5px;
    padding-bottom: 10px;
}

.searchBar input {
    border-radius: 20px;
    border: 1px solid black;
    text-indent: 10px;
}

.userName {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.groupList {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    background-color: #F7FAFA;
    border-radius: 20px;
}

.grupo {
    max-width: 195px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resto {
    padding: 10px;
    flex: 1;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.groupName {
    padding-left: 14px;
    font-size: xx-large;
}

.menuButton {
    background-color: #F5C754;
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.valid_lock {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
    background-color: #F7FAFA;
}

.custom-image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.mat-mdc-card {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.mat-mdc-card-header {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.mat-mdc-card-title {
    font-size: 16px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-mdc-card-subtitle {
    color: black;
    font-size: 12px;
}

.dark-mode {
    background-color: #121C24;
    /* Dark background color */
    color: #fff;
    /* Light text color */
}

.dark-mode .sidebar-grupos {
    background-color: #121C24;
    /* Dark sidebar background color */
}

.dark-mode .groupName {
    color: #f0f0f0;
    /* Light text color */
}

.dark-mode .groupList {
    background-color: #121C24;
}

.dark-mode .valid_lock {
    background-color: #121C24;
    /* Dark card background color */
    color: #fff;
    /* Light text color */
}

.dark-mode .mat-mdc-card-subtitle {
    color: white;
}

@media only screen and (max-width: 600px) {
    .pagina_completa {
        flex-direction: column;
        padding: 0;
        min-height: auto;
    }
    .sidebar-grupos {
        padding: 0;
        margin-bottom: 20px;
        /* Add margin for separation */
    }
    .groupList {
        padding: 10px;
        border-radius: 10px;
        /* Adjust border radius for smaller cards */
    }
    .valid_lock {
        height: auto;
        /* Let the height be determined by content */
        margin: 10px 0;
        /* Adjust margin for spacing */
    }
    .custom-image {
        height: auto;
        /* Let the image height adjust */
    }
}

.groupList.selected {
    /* Define your highlighting styles here */
    background-color: #E3E8F2;
    /* Example highlight color */
    color: black;
    /* Example text color for highlighted item */
}

.dark-mode .groupList.selected {
    /* Dark mode specific highlighting styles */
    background-color: #29384D;
    ;
    /* Example dark mode highlight color */
    color: #fff;
    /* Example text color for highlighted item in dark mode */
}